body{
    background-color:#000;
    overflow:hidden;
}
#canvas,#rotate{
    position:absolute;
}
#canvas{
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:1;
}
#rotate{
    top:5px;
    right:5px;
    width:200px;
    z-index:2;
}